.button-wrapper {
    position: fixed;
    bottom: 55px;
    right: 35px;
    /* z-index: 9999; */
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 768px) {
    .button-wrapper {
        right: 10px;
        bottom: 35px;
    }
}